<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @qr %>

      <% if @folder.present? %>
        <%= form_with(model: [@folder, @qr], class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
          
          <div class="form-group row">
            <%= f.label :name, "Qr name", class: "col-2 col-form-label text-light" %>
            <%= f.text_field :name, class: "form-control shadow rounded mb-4", placeholder: "Enter qr's name" %>
          </div>
          </br>

          <div class="form-group row">
            <%= f.label :qr_code_image %>
            <%= f.file_field :qr_code_image %>
          </div>
          </br>

          <div class="form-group row justify-content-center">
            <%= f.submit class: "btn btn-outline-light btn-lg" %>
          </div>
        <% end %>
      <% else %>
        <%= form_with(model: @qr, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
            
          <div class="form-group row">
            <%= f.label :name, "Qr name", class: "col-2 col-form-label text-light" %>
            <%= f.text_field :name, class: "form-control shadow rounded mb-4", placeholder: "Enter qr's name" %>
          </div>
          </br>

          <div class="form-group row">
            <%= f.label :qr_code_image %>
            <%= f.file_field :qr_code_image %>
          </div>
          </br>

          <div class="form-group row justify-content-center">
            <%= f.submit class: "btn btn-outline-light btn-lg" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mb-3 text-center">
      <%= link_to '[ Cancel and return to Folders listing ]', folders_path, class: "text-primary" %>
    </div>
  </div>
</div>

</br></br>
<%= link_to 'Go to Home Page', root_path, class: "text-danger" %>