<div class="container">
  <% @qrs.each do |qr| %>
        <div>
          <div class="card-body">
            <% if qr.folder_id.present? %>
              <h3 class="card-title"><%= link_to qr.name, folder_qr_path(qr.folder_id, qr), class: "text-success" %></h5>
            <% else %>
              <h3 class="card-title"><%= link_to qr.name, qr_path(qr), class: "text-success" %></h5>
            <% end %>
          </div>
          <div>
            <small>
              Created by <%= qr.user.name %>
            </small>
            <br>
            <small>Created <%= time_ago_in_words(qr.created_at) %> ago, 
            edited <%= time_ago_in_words(qr.updated_at) %> ago</small>
          </div>
        </div>
        <br><br>
  <% end %>
</div>
</br>
</br>

<% if @folder.present? %>
  <% if can? :manage, Qr, folder_id: @folder.id %>
    <%= link_to '(- Create a qr for this folder -)', new_folder_qr_path(@folder), class: "text-danger" %>
  <% end %>
<% end %>
</br> </br>
<%= link_to '[ Return to Folders listing ]', folders_path, class: "text-primary" %>
</br></br>
<%= link_to 'Go to Home Page', root_path, class: "text-danger" %>