<% if can? :manage, @folder %>
  <h1 class= "text-center text-primary mt-4"><%= @folder.name %></h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4 text-center">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">

          </div>
          <div class="card-body">
            <div class="card-text text-left"><%= simple_format(@folder.description) %></div>
          <% if can? :manage, @folder %>
            <% if logger? && (@folder.user == current_user) || current_user.admin? %>
              <%= link_to 'Edit', edit_folder_path(@folder), class: "btn btn-outline-info" %>
              <%= link_to 'Delete', folder_path(@folder.id), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            <% end %>
          <% end %>
          <br>
          <small> created by <%= @folder.user.name%> </small>
          <br>
            
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(@folder.created_at) %> ago,
              Updated <%= time_ago_in_words(@folder.updated_at) %> ago
            </small>
          </div>
        </div>

        </br></br>
        <% if can? :manage, Qr, folder_id: @folder.id %>
          <%= link_to '<- Create a qr for this folder ->', new_folder_qr_path(@folder), class: "text-danger" %>
        <% end %>
        
        </br></br>
        <%= link_to 'Show all the qrs of this folder', folder_qrs_path(@folder), class: "text-danger" %>
        </br></br>
        <%= link_to '[ Return to Folders Listing Page ]', folders_path, class: "text-danger" %>
        </br></br>
        <%= link_to 'Go to Home Page', root_path, class: "text-danger" %>
      </div>
    </div>
  </div>
<% else %>
  <h2> You cannot see the details of someone's folder </h2>
<% end %>




