<div class="container">
  <% @projects.each do |project| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <% if project.users.present? %>
              created by <%= project.creator.username%>
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to project.title, project_path(project), class: "text-success text-decoration-none" %></h5>
            <p class="card-text"><%= truncate(project.description, length: 25) %></p>
            <%= link_to 'View', project_path(project), class: "btn btn-outline-success" %> &nbsp; &nbsp; &nbsp;
            <% if logger? && (project.users.include?(current_user) || current_user.manager?) %>
              <% if can? :manage, @project %>
                <%= link_to 'Edit', edit_project_path(project), class: "btn btn-outline-info" %> &nbsp; &nbsp; &nbsp;
                <%= link_to 'Delete', project_path(project.id), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(project.created_at) %> ago,
              Updated <%= time_ago_in_words(project.updated_at) %> ago
            </small>
            </br></br></br></br>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>




<table>
    <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= truncate(project.description, length: 25) %></td>
          <td><%= link_to 'Show', project_path(project) %></td>
          <% if can? :manage, @project %>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Delete', project_path(project.id), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>
<% if can? :manage, Project %>
  <p class = "ms-4">
    <%= link_to 'Create a new project', new_project_path, class: "btn btn-outline-success" %>
  </p>
<% end %>

</br></br>
<%= link_to 'Go to Home Page', root_path, class: "text-danger" %>