<% if can? :read, @project %>
  <h1 class= "text-center text-primary mt-4"><%= @project.title %></h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4 text-center">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">

          </div>
          <div class="card-body">
            <div class="card-text text-left"><%= simple_format(@project.description) %></div>
            <% if logger? && (@project.users.include?(current_user) || current_user.manager?) %>
              <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-outline-info" %>
              <%= link_to 'Delete', project_path(@project.id), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(@project.created_at) %> ago,
              Updated <%= time_ago_in_words(@project.updated_at) %> ago
            </small>
          </div>
        </div>

        </br></br>
        <%= link_to '-> Create a bug for this project <-', new_project_bug_path(@project), class: "text-danger" %>
        </br></br>
        <%= link_to 'Show all the bugs of this project', project_bugs_path(@project), class: "text-danger" %>
        </br></br>
        <%= link_to '[ Return to Projects Listing Page ]', projects_path, class: "text-danger" %>
        </br></br>
        <%= link_to 'Go to Home Page', root_path, class: "text-danger" %>
      </div>
    </div>
  </div>
<% else %>
  <h2> You cannot see the details of someone's project </h2>
<% end %>




