<% if can? :read, @bug %>
  <h1 class="text-center mt-4">Bug Title: <%= @bug.title %></h1>
  <h3 class="text-center mt-4">Bug Description: <%= @bug.description %></h3>
  <% if can? :manage, @bug %>
    <%= link_to 'Edit this bug', edit_project_bug_path(@bug.project_id, @bug), class: "btn btn-outline-info" %> &nbsp; &nbsp; &nbsp;
    <%= link_to 'Delete this bug', project_bug_path(@bug.project_id, @bug.id), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  <% end %>

  <h4>Developers assigned to resolve this bug are:</h4>
  <ol>
    <% @bug.users.developer.each do |developer| %>
      <li><%= developer.username %></li>
    <% end %>
  </ol>

  <!-- Screenshot of Bug -->
  <% if @bug.images.attached? %>
    <h4>Screenshots of Bug:</h4>
    <div>
      <% @bug.images.each do |image| %>
        <%= image_tag(image) %>
      <% end %>
    </div>
  <% end %>

  <p>This bug is created by <%= @bug.creator.username %></p>

  </br></br></br>
  <%= link_to ' Previous Page (Bugs Index)', project_bugs_path, class: "text-primary" %>
<% else %>
  <h2> You cannot see someone's bugs </h2>
<% end %>
</br>
<%= link_to 'Go to Home Page', root_path, class: "text-danger" %>



